In [1]:
import pandas as pd
import numpy as np

In [2]:
rank = pd.read_csv('./Demo_4k/rank.csv')
hotel_map = pd.read_csv('./Cleaned Table/hotel_map.csv')
roothotel_info = pd.read_csv('./TripI/roothotel_info.csv')
hotel_v4 = pd.read_csv('./TripI/hotel_v4.csv')
hotel_image = pd.read_csv("./TripI/hotel_image.csv")

C:\Users\ADMIN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# 1. Add 3 Image

In [3]:
temp = hotel_map[['domain_hotel_id', 'hotel_id']]
hotel_image = hotel_image.merge(temp, on = 'domain_hotel_id')

In [4]:
h = pd.unique(hotel_image['hotel_id'].values)
temp = hotel_image[['hotel_id']]
temp['provider_url_1'] = 'a'
temp['provider_url_2'] = 'a'
temp['provider_url_3'] = 'a'
for i in h:
    #temp = pd.concat([temp, hotel_image[hotel_image['hotel_id'] == i].head(3)])
    try:
        a_1 = hotel_image[hotel_image['hotel_id'] == i].iloc[0]['provider_url']
        a_2 = hotel_image[hotel_image['hotel_id'] == i].iloc[1]['provider_url']
        a_3 = hotel_image[hotel_image['hotel_id'] == i].iloc[2]['provider_url']
        temp[temp['hotel_id'] == i]['provider_url_1'] = a_1
        temp[temp['hotel_id'] == i]['provider_url_2'] = a_2
        temp[temp['hotel_id'] == i]['provider_url_3'] = a_3
    except: 
        continue

<ipython-input-4-f27c4c33f0d4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['provider_url_1'] = 'a'
<ipython-input-4-f27c4c33f0d4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['provider_url_2'] = 'a'
<ipython-input-4-f27c4c33f0d4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[temp['hotel_id'] == i]['provider_url_1'] = a_1
<ipython-input-4-f27c4c33f0d4>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[temp['hotel_id'] == i]['provider_url_2'] = a_2
<ipython-input-4-f27c4c33f0d4>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[temp['hotel_id'] == i]['provider_url_3'] = a_3

In [5]:
h = pd.unique(hotel_image['hotel_id'].values)
temp = hotel_image.head(1)
for i in h:
    temp = pd.concat([temp, hotel_image[hotel_image['hotel_id'] == i].head(1)])

In [6]:
h = pd.unique(hotel_image['hotel_id'].values)
temp2 = hotel_image.head(1)
for i in h:
    try:
        temp2 = pd.concat([temp2, hotel_image[hotel_image['hotel_id'] == i].head(2).iloc[[1]]])
    except: 
        continue

In [7]:
h = pd.unique(hotel_image['hotel_id'].values)
temp3 = hotel_image.head(1)
for i in h:
    try:
        temp3 = pd.concat([temp3, hotel_image[hotel_image['hotel_id'] == i].head(3).iloc[[2]]])
    except: 
        continue

In [8]:
l = temp2[['hotel_id','provider_url']]
temp = temp.merge(l, on = 'hotel_id')
l = temp3[['hotel_id','provider_url']]
temp = temp.merge(l, on = 'hotel_id')
temp = temp.rename(columns = {'provider_url_x':'provider_url_1','provider_url_y':'provider_url_2','provider_url':'provider_url_3'})

In [9]:
a = temp.iloc[[3]]
temp = temp[temp['hotel_id'] != 43835]
temp = pd.concat([temp, a])

In [10]:
temp = temp.drop_duplicates()
temp = temp.drop(['domain_id', 'domain_hotel_id'], axis = 1)
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6506 entries, 8 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provider_url_1  6506 non-null   object
 1   hotel_id        6506 non-null   float64
 2   provider_url_2  6506 non-null   object
 3   provider_url_3  6506 non-null   object
dtypes: float64(1), object(3)
memory usage: 254.1+ KB

In [11]:
rank = rank.join(temp.set_index('hotel_id'), on = 'hotel_id')
rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5224 entries, 0 to 5223
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel_id                        5224 non-null   float64
 1   name                            5224 non-null   object
 2   address                         5224 non-null   object
 3   overall_score_OTA               5224 non-null   float64
 4   overall_score                   5224 non-null   float64
 5   score_mean                      5224 non-null   float64
 6   counts_search                   5224 non-null   float64
 7   counts_click                    5224 non-null   float64
 8   counts_book                     5224 non-null   float64
 9   review_score                    5224 non-null   float64
 10  SCORE                           5224 non-null   float64
 11  province_id                     5224 non-null   float64
 12  district_id                     4356 non-null   float64
 13  latitude                        5218 non-null   float64
 14  longitude                       5218 non-null   float64
 15  description                     5080 non-null   object
 16  tours                           5224 non-null   int64
 17  night_club                      5224 non-null   int64
 18  relax_spa                       5224 non-null   int64
 19  relax_massage                   5224 non-null   int64
 20  relax_steam_room                5224 non-null   int64
 21  relax_outdoor_room              5224 non-null   int64
 22  relax_outdoor_pool              5224 non-null   int64
 23  relax_sauna                     5224 non-null   int64
 24  relax_pool                      5224 non-null   int64
 25  currency_exchange               5224 non-null   int64
 26  room_service_24_hour            5224 non-null   int64
 27  elevator                        5224 non-null   int64
 28  safely_deposit_boxed            5224 non-null   int64
 29  luggage_storage                 5224 non-null   int64
 30  poolside_bar                    5224 non-null   int64
 31  airport_transfer                5224 non-null   int64
 32  restaurants                     5224 non-null   int64
 33  concierge                       5224 non-null   int64
 34  shops                           5224 non-null   int64
 35  meeting_facilities              5224 non-null   int64
 36  baby_sitting                    5224 non-null   int64
 37  facilities_for_disabled_guests  5224 non-null   int64
 38  private_beach                   5224 non-null   int64
 39  front_desk_24_hour              5224 non-null   int64
 40  bar                             5224 non-null   int64
 41  laundry_service                 5224 non-null   int64
 42  shuttle_room                    5224 non-null   int64
 43  price_mean                      5224 non-null   float64
 44  provider_url_1                  4765 non-null   object
 45  provider_url_2                  4765 non-null   object
 46  provider_url_3                  4765 non-null   object
dtypes: float64(14), int64(27), object(6)
memory usage: 1.9+ MB

In [12]:
link = 'https://mir-s3-cdn-cf.behance.net/project_modules/fs/e4942462741187.5a99c7ef8ef23.jpg?fbclid=IwAR0Er8lPUgJ_D6wXIYd3YPSjMObMGm4hlu5SRF1arLqHOgEP4zRIhdtt39Y'
rank['provider_url_1'] = rank['provider_url_1'].fillna(link)
rank['provider_url_2'] = rank['provider_url_2'].fillna(link)
rank['provider_url_3'] = rank['provider_url_3'].fillna(link)

In [13]:
rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5224 entries, 0 to 5223
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel_id                        5224 non-null   float64
 1   name                            5224 non-null   object
 2   address                         5224 non-null   object
 3   overall_score_OTA               5224 non-null   float64
 4   overall_score                   5224 non-null   float64
 5   score_mean                      5224 non-null   float64
 6   counts_search                   5224 non-null   float64
 7   counts_click                    5224 non-null   float64
 8   counts_book                     5224 non-null   float64
 9   review_score                    5224 non-null   float64
 10  SCORE                           5224 non-null   float64
 11  province_id                     5224 non-null   float64
 12  district_id                     4356 non-null   float64
 13  latitude                        5218 non-null   float64
 14  longitude                       5218 non-null   float64
 15  description                     5080 non-null   object
 16  tours                           5224 non-null   int64
 17  night_club                      5224 non-null   int64
 18  relax_spa                       5224 non-null   int64
 19  relax_massage                   5224 non-null   int64
 20  relax_steam_room                5224 non-null   int64
 21  relax_outdoor_room              5224 non-null   int64
 22  relax_outdoor_pool              5224 non-null   int64
 23  relax_sauna                     5224 non-null   int64
 24  relax_pool                      5224 non-null   int64
 25  currency_exchange               5224 non-null   int64
 26  room_service_24_hour            5224 non-null   int64
 27  elevator                        5224 non-null   int64
 28  safely_deposit_boxed            5224 non-null   int64
 29  luggage_storage                 5224 non-null   int64
 30  poolside_bar                    5224 non-null   int64
 31  airport_transfer                5224 non-null   int64
 32  restaurants                     5224 non-null   int64
 33  concierge                       5224 non-null   int64
 34  shops                           5224 non-null   int64
 35  meeting_facilities              5224 non-null   int64
 36  baby_sitting                    5224 non-null   int64
 37  facilities_for_disabled_guests  5224 non-null   int64
 38  private_beach                   5224 non-null   int64
 39  front_desk_24_hour              5224 non-null   int64
 40  bar                             5224 non-null   int64
 41  laundry_service                 5224 non-null   int64
 42  shuttle_room                    5224 non-null   int64
 43  price_mean                      5224 non-null   float64
 44  provider_url_1                  5224 non-null   object
 45  provider_url_2                  5224 non-null   object
 46  provider_url_3                  5224 non-null   object
dtypes: float64(14), int64(27), object(6)
memory usage: 1.9+ MB

# 2. Star_number for rank.csv

In [14]:
temp = roothotel_info[['id', 'star_number']]
temp = temp.rename(columns = {'id':'hotel_id'})
rank = rank.merge(temp, on ='hotel_id')
rank.head(3)

,hotel_id,name,address,overall_score_OTA,overall_score,score_mean,counts_search,counts_click,counts_book,review_score,...,private_beach,front_desk_24_hour,bar,laundry_service,shuttle_room,price_mean,provider_url_1,provider_url_2,provider_url_3,star_number
0,40415.0,Premier Residences Phu Quoc Emerald Bay Manage...,"Khem Beach An Thới, Phú Quốc, Kiên Giang",87.70834,88.0,87.85417,818.0,950.0,20.0,362.000000,...,-1,1,-1,-1,-1,2.012733e+06,https://images.trvl-media.com/hotels/33000000/...,https://images.trvl-media.com/hotels/33000000/...,https://images.trvl-media.com/hotels/33000000/...,5
1,40412.0,Seashells Hotel & Spa Phú Quốc (Seashells Phu ...,"Vo Thi Sau, Dương Đông, Đảo Phú Quốc, Việt Nam",90.00000,91.0,90.50000,1691.0,408.0,22.0,8101.899995,...,0,1,1,1,-1,1.537731e+06,https://q-xx.bstatic.com/xdata/images/hotel/84...,https://pix6.agoda.net/hotelImages/243/2430159...,https://pix6.agoda.net/hotelImages/2430159/-1/...,5
2,38408.0,Aaron Hotel,"Số 6 Trần Quang Khải, Thành Phố Nha Trang, Khá...",86.00000,86.0,86.00000,4591.0,367.0,12.0,216.818182,...,0,1,1,1,-1,4.867947e+05,https://mir-s3-cdn-cf.behance.net/project_modu...,https://mir-s3-cdn-cf.behance.net/project_modu...,https://mir-s3-cdn-cf.behance.net/project_modu...,4

# 3. Add Link for Agoda and Expedia Hotel

In [15]:
a = hotel_map[(hotel_map['domain_id'] == 3) | (hotel_map['domain_id'] == 4)]
temp = a[['domain_hotel_id','domain_id', 'hotel_id']]
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6131 entries, 0 to 8596
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   domain_hotel_id  6131 non-null   int64
 1   domain_id        6131 non-null   float64
 2   hotel_id         6131 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 191.6 KB

In [16]:
b = hotel_v4[['domain_hotel_id', 'url']]
temp = temp.merge(b, on = 'domain_hotel_id')
temp = temp.drop_duplicates()
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7200 entries, 0 to 52936
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   domain_hotel_id  7200 non-null   int64
 1   domain_id        7200 non-null   float64
 2   hotel_id         7200 non-null   float64
 3   url              7199 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 281.2+ KB

In [17]:
h = pd.unique(temp['hotel_id'].values)
sample = temp.head(1)
for i in h:
    sample = pd.concat([sample, temp[temp['hotel_id'] == i].head(1)])

In [18]:
sample = sample.drop_duplicates()
sample = sample[-sample['url'].isna()]

In [19]:
rank = rank.join(sample.set_index('hotel_id'), on = 'hotel_id')

In [20]:
rank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5224 entries, 0 to 5223
Data columns (total 51 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel_id                        5224 non-null   float64
 1   name                            5224 non-null   object
 2   address                         5224 non-null   object
 3   overall_score_OTA               5224 non-null   float64
 4   overall_score                   5224 non-null   float64
 5   score_mean                      5224 non-null   float64
 6   counts_search                   5224 non-null   float64
 7   counts_click                    5224 non-null   float64
 8   counts_book                     5224 non-null   float64
 9   review_score                    5224 non-null   float64
 10  SCORE                           5224 non-null   float64
 11  province_id                     5224 non-null   float64
 12  district_id                     4356 non-null   float64
 13  latitude                        5218 non-null   float64
 14  longitude                       5218 non-null   float64
 15  description                     5080 non-null   object
 16  tours                           5224 non-null   int64
 17  night_club                      5224 non-null   int64
 18  relax_spa                       5224 non-null   int64
 19  relax_massage                   5224 non-null   int64
 20  relax_steam_room                5224 non-null   int64
 21  relax_outdoor_room              5224 non-null   int64
 22  relax_outdoor_pool              5224 non-null   int64
 23  relax_sauna                     5224 non-null   int64
 24  relax_pool                      5224 non-null   int64
 25  currency_exchange               5224 non-null   int64
 26  room_service_24_hour            5224 non-null   int64
 27  elevator                        5224 non-null   int64
 28  safely_deposit_boxed            5224 non-null   int64
 29  luggage_storage                 5224 non-null   int64
 30  poolside_bar                    5224 non-null   int64
 31  airport_transfer                5224 non-null   int64
 32  restaurants                     5224 non-null   int64
 33  concierge                       5224 non-null   int64
 34  shops                           5224 non-null   int64
 35  meeting_facilities              5224 non-null   int64
 36  baby_sitting                    5224 non-null   int64
 37  facilities_for_disabled_guests  5224 non-null   int64
 38  private_beach                   5224 non-null   int64
 39  front_desk_24_hour              5224 non-null   int64
 40  bar                             5224 non-null   int64
 41  laundry_service                 5224 non-null   int64
 42  shuttle_room                    5224 non-null   int64
 43  price_mean                      5224 non-null   float64
 44  provider_url_1                  5224 non-null   object
 45  provider_url_2                  5224 non-null   object
 46  provider_url_3                  5224 non-null   object
 47  star_number                     5224 non-null   int64
 48  domain_hotel_id                 4151 non-null   float64
 49  domain_id                       4151 non-null   float64
 50  url                             4151 non-null   object
dtypes: float64(16), int64(28), object(7)
memory usage: 2.1+ MB

# 4. Transform province_id to province_name

In [21]:
province = pd.read_csv("./TripI/province.csv")

In [22]:
temp = province[['id','name']]
temp = temp.rename(columns ={'id':'province_id'})
rank = rank.merge(temp,on='province_id')

In [23]:
rank.head(1)

,hotel_id,name_x,address,overall_score_OTA,overall_score,score_mean,counts_search,counts_click,counts_book,review_score,...,shuttle_room,price_mean,provider_url_1,provider_url_2,provider_url_3,star_number,domain_hotel_id,domain_id,url,name_y
0,40415.0,Premier Residences Phu Quoc Emerald Bay Manage...,"Khem Beach An Thới, Phú Quốc, Kiên Giang",87.70834,88.0,87.85417,818.0,950.0,20.0,362.0,...,-1,2.012733e+06,https://images.trvl-media.com/hotels/33000000/...,https://images.trvl-media.com/hotels/33000000/...,https://images.trvl-media.com/hotels/33000000/...,5,32091854.0,4.0,32091854,Kiên Giang

In [24]:
rank = rank.rename(columns = {'name_x':'name', 'name_y':'province'})

In [25]:
rank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5224 entries, 0 to 5223
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel_id                        5224 non-null   float64
 1   name                            5224 non-null   object
 2   address                         5224 non-null   object
 3   overall_score_OTA               5224 non-null   float64
 4   overall_score                   5224 non-null   float64
 5   score_mean                      5224 non-null   float64
 6   counts_search                   5224 non-null   float64
 7   counts_click                    5224 non-null   float64
 8   counts_book                     5224 non-null   float64
 9   review_score                    5224 non-null   float64
 10  SCORE                           5224 non-null   float64
 11  province_id                     5224 non-null   float64
 12  district_id                     4356 non-null   float64
 13  latitude                        5218 non-null   float64
 14  longitude                       5218 non-null   float64
 15  description                     5080 non-null   object
 16  tours                           5224 non-null   int64
 17  night_club                      5224 non-null   int64
 18  relax_spa                       5224 non-null   int64
 19  relax_massage                   5224 non-null   int64
 20  relax_steam_room                5224 non-null   int64
 21  relax_outdoor_room              5224 non-null   int64
 22  relax_outdoor_pool              5224 non-null   int64
 23  relax_sauna                     5224 non-null   int64
 24  relax_pool                      5224 non-null   int64
 25  currency_exchange               5224 non-null   int64
 26  room_service_24_hour            5224 non-null   int64
 27  elevator                        5224 non-null   int64
 28  safely_deposit_boxed            5224 non-null   int64
 29  luggage_storage                 5224 non-null   int64
 30  poolside_bar                    5224 non-null   int64
 31  airport_transfer                5224 non-null   int64
 32  restaurants                     5224 non-null   int64
 33  concierge                       5224 non-null   int64
 34  shops                           5224 non-null   int64
 35  meeting_facilities              5224 non-null   int64
 36  baby_sitting                    5224 non-null   int64
 37  facilities_for_disabled_guests  5224 non-null   int64
 38  private_beach                   5224 non-null   int64
 39  front_desk_24_hour              5224 non-null   int64
 40  bar                             5224 non-null   int64
 41  laundry_service                 5224 non-null   int64
 42  shuttle_room                    5224 non-null   int64
 43  price_mean                      5224 non-null   float64
 44  provider_url_1                  5224 non-null   object
 45  provider_url_2                  5224 non-null   object
 46  provider_url_3                  5224 non-null   object
 47  star_number                     5224 non-null   int64
 48  domain_hotel_id                 4151 non-null   float64
 49  domain_id                       4151 non-null   float64
 50  url                             4151 non-null   object
 51  province                        5224 non-null   object
dtypes: float64(16), int64(28), object(8)
memory usage: 2.1+ MB

In [26]:
t = rank[-rank['url'].isna()]
t = t[-t['latitude'].isna()]
t = t[-t['description'].isna()]
t = t.drop(['district_id'], axis = 1)
h = t.sample(n = 4000)

In [27]:
h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 1213 to 1412
Data columns (total 51 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel_id                        4000 non-null   float64
 1   name                            4000 non-null   object
 2   address                         4000 non-null   object
 3   overall_score_OTA               4000 non-null   float64
 4   overall_score                   4000 non-null   float64
 5   score_mean                      4000 non-null   float64
 6   counts_search                   4000 non-null   float64
 7   counts_click                    4000 non-null   float64
 8   counts_book                     4000 non-null   float64
 9   review_score                    4000 non-null   float64
 10  SCORE                           4000 non-null   float64
 11  province_id                     4000 non-null   float64
 12  latitude                        4000 non-null   float64
 13  longitude                       4000 non-null   float64
 14  description                     4000 non-null   object
 15  tours                           4000 non-null   int64
 16  night_club                      4000 non-null   int64
 17  relax_spa                       4000 non-null   int64
 18  relax_massage                   4000 non-null   int64
 19  relax_steam_room                4000 non-null   int64
 20  relax_outdoor_room              4000 non-null   int64
 21  relax_outdoor_pool              4000 non-null   int64
 22  relax_sauna                     4000 non-null   int64
 23  relax_pool                      4000 non-null   int64
 24  currency_exchange               4000 non-null   int64
 25  room_service_24_hour            4000 non-null   int64
 26  elevator                        4000 non-null   int64
 27  safely_deposit_boxed            4000 non-null   int64
 28  luggage_storage                 4000 non-null   int64
 29  poolside_bar                    4000 non-null   int64
 30  airport_transfer                4000 non-null   int64
 31  restaurants                     4000 non-null   int64
 32  concierge                       4000 non-null   int64
 33  shops                           4000 non-null   int64
 34  meeting_facilities              4000 non-null   int64
 35  baby_sitting                    4000 non-null   int64
 36  facilities_for_disabled_guests  4000 non-null   int64
 37  private_beach                   4000 non-null   int64
 38  front_desk_24_hour              4000 non-null   int64
 39  bar                             4000 non-null   int64
 40  laundry_service                 4000 non-null   int64
 41  shuttle_room                    4000 non-null   int64
 42  price_mean                      4000 non-null   float64
 43  provider_url_1                  4000 non-null   object
 44  provider_url_2                  4000 non-null   object
 45  provider_url_3                  4000 non-null   object
 46  star_number                     4000 non-null   int64
 47  domain_hotel_id                 4000 non-null   float64
 48  domain_id                       4000 non-null   float64
 49  url                             4000 non-null   object
 50  province                        4000 non-null   object
dtypes: float64(15), int64(28), object(8)
memory usage: 1.6+ MB

In [28]:
#h.to_csv('./Demo_4k/show_4000.csv', index = False)