In [1]:
import pandas as pd

In [2]:
df_cleaned = pd.read_csv('df_cleaned.csv')

In [3]:
df_cleaned.head()

   domain_hotel_id  hotel_id  domain_id  similar_point
0           486861      9900          3            1.0
1          3356540     45306          3            1.0
2          6107639     35266          3            1.0
3           732184     23737          3            1.0
4           732142      4804          3            1.0