In [51]:
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_datasets as tfds

import matplotlib.pyplot as plt

In [52]:
hotel_review = pd.read_csv("../data/hotel_review_all.csv",encoding='latin1')
hotel_review.head()

D:\ana\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,raw_id,domain_id,domain_hotel_id,username,review_id,lang_code,review_datetime,title,text,travel_purpose,crawled_at,crawled_date_id,crawled_datetime,emotion,score
0,30b038aa-bda6-4e56-992b-a3fbaff47201,708c8936-8a7c-4e71-bff1-43658462c0cc,5,5492189,Tuáº¥n,3379086228,vi,2020-02-01 06:58:23,Ráº¥t tá»t,"Vá» trÃ­ thuáº­n lá»£i, sáº¡ch sáº½, tiá»n nghi",leisure,1.598002e+09,20200821.0,2020-08-21 09:20:18,NaN,3.200000
1,9d543329-2ea2-4d68-83ba-5f70ec71f45d,970a8c25-883d-46ee-a4be-c027d2dfca44,5,2073025,Aimee,4517375124,en-gb,2019-11-16 11:14:10,Xuáº¥t sáº¯c,NaN,leisure,1.598001e+09,20200821.0,2020-08-21 09:11:00,NaN,4.000000
2,d524edf5-f29a-409d-a746-c1fd1d73d34f,5efde42f-0eed-4dbf-bcbb-2cc73ffcd05b,5,5176593,Mai,3689632318,vi,2019-10-12 19:31:37,SiÃªu hÃ i lÃ²ng. Sáº½ quay láº¡i nhiá»u láº§n,- Chá» chá»§ nhiá»t tÃ¬nh thÃ¢n thiá»n\n- T...,leisure,1.598001e+09,20200821.0,2020-08-21 09:04:05,NaN,4.000000
3,4c823885-8d1c-43bc-9015-31a24ac62e66,3f2a0c2f-727a-4970-acbf-ee635261f183,5,4812066,Russ,3879692070,en-gb,2020-03-09 00:16:25,Tá»t,Central location. Nice small buffet breakfast ...,leisure,1.598001e+09,20200821.0,2020-08-21 09:05:07,NaN,3.166667
4,dcbd5093-aa37-4560-b0ff-694e532a0224,3ab661a4-1b07-489b-adcb-c1dd9c748886,5,5414510,Nguyá» n,4523375761,vi,2020-01-21 07:38:43,Dá» chá»u,NaN,business,1.598001e+09,20200821.0,2020-08-21 09:06:37,NaN,2.800000

In [99]:
hotel_review['score'].value_counts()

4.000000    145850
3.833333     44729
3.666667     33611
3.500000     23357
3.333333     19231
3.600000     17073
3.000000     16368
3.166667     14417
3.200000     12798
2.833333      9379
2.666667      6664
2.800000      6258
2.500000      5165
2.000000      4662
2.333333      3889
2.166667      2981
2.400000      2607
1.833333      1945
1.666667      1507
1.500000      1248
1.000000      1131
1.600000      1037
1.333333       972
0.400000       899
1.200000       732
1.166667       559
3.800000       429
0.800000       374
3.400000       240
2.600000        90
3.750000        49
2.200000        46
3.250000        28
1.800000        26
1.400000        22
2.750000        17
2.250000         6
1.750000         4
Name: score, dtype: int64

In [53]:
hotel_review['lang_code'].value_counts()

en-gb    380400
vi       344241
en       316950
VN       195108
en-us    139986
          ...
TV            1
SL            1
BL            1
ka            1
ST            1
Name: lang_code, Length: 380, dtype: int64

In [54]:
hotel_review = hotel_review[hotel_review['lang_code'] == 'en-gb']

In [55]:
df = hotel_review[['domain_hotel_id','text','username','review_id','score']]
df.T

,1,3,8,19,29,31,35,39,45,47,...,3109364,3109373,3109377,3109379,3109380,3109386,3109393,3109403,3109405,3109411
domain_hotel_id,2073025,4812066,2315342,3397149,817067,2073025,3886064,4496382,2315342,2726391,...,2626620,2591951,5850824,1879112,4389800,2381266,4101656,1724717,5009246,341695
text,NaN,Central location. Nice small buffet breakfast ...,lovely big room (we got a family room despite ...,The property is very well situated and very mo...,Great location,"The staff is really friendly, always ready to ...",The very best hostel that I have stayed in Han...,Big bathroom and room. Not too far from the be...,Trinh and Ty truly treated us like family. We ...,"Cozy room condition, kind staff with quick che...",...,Clean and comfortable,I came in here by the reviews online and they ...,Brand new house. Very welcome staff. Big and c...,NaN,One of the best places we stayed in Vietnam. I...,NaN,The location is fantastic. Amazing breakfast. ...,Rooms were modern nice clean and new \r\nStaff...,"Good service, the staff are very friendly and ...",NaN
username,Aimee,Russ,Olga,Rhett,Pasel,Rowan,Nhung,Melissa...,Paul,Woocheol,...,Anonymous,Rahul,Annar,Diogo,Magnus,Rafael,Ctj1688,Poh,Quá»³nh,Gregory
review_id,4517375124,3879692070,4463291256,3414092963,3032073882,4501084314,4465881281,2339679391,4462964019,3022536236,...,2755883553,4508395803,4528234353,3505754066,3518646507,4479233897,4518495313,4441716640,3131399518,3010033699
score,4,3.16667,3.66667,4,3.5,4,4,2.8,4,4,...,3.66667,4,4,3.16667,4,3.66667,3.2,3.16667,3.6,3.16667

In [58]:
# df=df.dropna(axis=1,how='all')
df = df[-df['text'].isna()]
df.T

,3,8,19,29,31,35,39,45,47,63,...,3109360,3109361,3109363,3109364,3109373,3109377,3109380,3109393,3109403,3109405
domain_hotel_id,4812066,2315342,3397149,817067,2073025,3886064,4496382,2315342,2726391,3397149,...,3059893,3991019,4389848,2626620,2591951,5850824,4389800,4101656,1724717,5009246
text,Central location. Nice small buffet breakfast ...,lovely big room (we got a family room despite ...,The property is very well situated and very mo...,Great location,"The staff is really friendly, always ready to ...",The very best hostel that I have stayed in Han...,Big bathroom and room. Not too far from the be...,Trinh and Ty truly treated us like family. We ...,"Cozy room condition, kind staff with quick che...",Nice owners,...,Staff is helpful,"Nice hotel, spacious rooms. Buffet breakfast w...","Spotless rooms, super friendly staff. Amazing ...",Clean and comfortable,I came in here by the reviews online and they ...,Brand new house. Very welcome staff. Big and c...,One of the best places we stayed in Vietnam. I...,The location is fantastic. Amazing breakfast. ...,Rooms were modern nice clean and new \r\nStaff...,"Good service, the staff are very friendly and ..."
username,Russ,Olga,Rhett,Pasel,Rowan,Nhung,Melissa...,Paul,Woocheol,Richard,...,Janet,Jonathon,Sally,Anonymous,Rahul,Annar,Magnus,Ctj1688,Poh,Quá»³nh
review_id,3879692070,4463291256,3414092963,3032073882,4501084314,4465881281,2339679391,4462964019,3022536236,4458704573,...,1876953121,2638548847,2940161912,2755883553,4508395803,4528234353,3518646507,4518495313,4441716640,3131399518
score,3.16667,3.66667,4,3.5,4,4,2.8,4,4,3.33333,...,1.66667,3.5,4,3.66667,4,4,4,3.2,3.16667,3.6

In [59]:
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer

In [60]:
tokenizer = WordPunctTokenizer()
twitter_handle = r'@[A-Za-z0-9_]+'                         # remove twitter handle (@username)
url_handle = r'http[^ ]+'                                  # remove website URLs that start with 'https?://'
combined_handle = r'|'.join((twitter_handle, url_handle))  # join
www_handle = r'www.[^ ]+'                                  # remove website URLs that start with 'www.'
punctuation_handle = r'\W+'

In [61]:
stopwords = pd.read_csv('../data/stop-word-list.csv')
stopwords.head()

Empty DataFrame
Columns: [a,  able,  about,  across,  after,  all,  almost,  also,  am,  among,  an,  and,  any,  are,  as,  at,  be,  because,  been,  but,  by,  can,  cannot,  could,  dear,  did,  do,  does,  either,  else,  ever,  every,  for,  from,  get,  got,  had,  has,  have,  he,  her,  hers,  him,  his,  how,  however,  i,  if,  in,  into,  is,  it,  its,  just,  least,  let,  like,  likely,  may,  me,  might,  most,  must,  my,  neither,  no,  nor,  not,  of,  off,  often,  on,  only,  or,  other,  our,  own,  rather,  said,  say,  says,  she,  should,  since,  so,  some,  than,  that,  the,  their,  them,  then,  there,  these,  they,  this,  tis,  to,  too,  twas, ...]
Index: []

[0 rows x 119 columns]

In [62]:
def process_text(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()

    try:
        text = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        text = souped

    cleaned_text = re.sub(punctuation_handle, " ",(re.sub(www_handle, '', re.sub(combined_handle, '', text)).lower()))
    cleaned_text = ' '.join([word for word in cleaned_text.split() if word not in stopwords])

    return (" ".join([word for word in tokenizer.tokenize(cleaned_text) if len(word) > 1])).strip()

In [63]:
# df.fillna(0, inplace = True)

In [64]:
# df.T

In [65]:
cleaned_text = []

for t in df.text:
    cleaned_text.append(process_text(str(t)))

clean_text = pd.DataFrame({'clean_text' : cleaned_text})
df = pd.concat([df, clean_text], axis = 1)

df.sample(5)

D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: ".............." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: "/" looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: ".." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: "." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: "...." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: ". " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: "..." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: ".. " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(
D:\ana\lib\site-packages\bs4\__init__.py:329: MarkupResemblesLocatorWarning: "......." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

,domain_hotel_id,text,username,review_id,score,clean_text
178834,NaN,NaN,NaN,NaN,NaN,everything is good
248257,NaN,NaN,NaN,NaN,NaN,this is really nice hostel where anna is truly...
2139399,4464775,Breakfast. Pool. Staff.,Filipa,2943218480,3.833333,NaN
246222,NaN,NaN,NaN,NaN,NaN,nice hotel friendly and helpful staff great lo...
1270196,5839008,My go to place in Ho Chi Minh City. Rooms are ...,Kimhoon,4529887372,4.000000,NaN

4.000000    119237
3.833333     35992
3.666667     26053
3.500000     17411
3.333333     13919
3.600000     12966
3.000000     10503
3.166667     10181
3.200000      8704
2.833333      6768
2.666667      4921
2.800000      4244
2.500000      3792
2.000000      3177
2.333333      2815
2.166667      2118
2.400000      1893
1.833333      1346
1.666667      1041
1.500000       822
1.600000       715
1.333333       668
1.000000       609
0.400000       543
1.200000       511
1.166667       352
3.800000       315
0.800000       243
3.400000       163
2.600000        64
2.200000        35
3.750000        34
3.250000        20
1.400000        17
1.800000        16
2.750000         5
2.250000         4
1.750000         2
Name: score, dtype: int64

In [114]:
def response(score):
    if score  >= 4.0:
        return "wonderful"
    elif score <= 3.5 :
        return "neutral"
    else:
        return "good"

In [115]:
df['Is_Response'] = df['score'].apply(response)

In [93]:
# df['score'].value_counts()

In [116]:
df['Is_Response'].value_counts()

wonderful    119237
neutral       97622
good          75360
Name: Is_Response, dtype: int64

In [117]:
df = df[-df['domain_hotel_id'].isna()]
df = df[-df['username'].isna()]
df = df[-df['score'].isna()]
df = df[-df['review_id'].isna()]

In [118]:
df.T

,3,8,19,29,31,35,39,45,47,63,...,3109360,3109361,3109363,3109364,3109373,3109377,3109380,3109393,3109403,3109405
domain_hotel_id,4812066,2315342,3397149,817067,2073025,3886064,4496382,2315342,2726391,3397149,...,3059893,3991019,4389848,2626620,2591951,5850824,4389800,4101656,1724717,5009246
text,Central location. Nice small buffet breakfast ...,lovely big room (we got a family room despite ...,The property is very well situated and very mo...,Great location,"The staff is really friendly, always ready to ...",The very best hostel that I have stayed in Han...,Big bathroom and room. Not too far from the be...,Trinh and Ty truly treated us like family. We ...,"Cozy room condition, kind staff with quick che...",Nice owners,...,Staff is helpful,"Nice hotel, spacious rooms. Buffet breakfast w...","Spotless rooms, super friendly staff. Amazing ...",Clean and comfortable,I came in here by the reviews online and they ...,Brand new house. Very welcome staff. Big and c...,One of the best places we stayed in Vietnam. I...,The location is fantastic. Amazing breakfast. ...,Rooms were modern nice clean and new \r\nStaff...,"Good service, the staff are very friendly and ..."
username,Russ,Olga,Rhett,Pasel,Rowan,Nhung,Melissa...,Paul,Woocheol,Richard,...,Janet,Jonathon,Sally,Anonymous,Rahul,Annar,Magnus,Ctj1688,Poh,Quá»³nh
review_id,3879692070,4463291256,3414092963,3032073882,4501084314,4465881281,2339679391,4462964019,3022536236,4458704573,...,1876953121,2638548847,2940161912,2755883553,4508395803,4528234353,3518646507,4518495313,4441716640,3131399518
score,3.16667,3.66667,4,3.5,4,4,2.8,4,4,3.33333,...,1.66667,3.5,4,3.66667,4,4,4,3.2,3.16667,3.6
clean_text,great location,cozy room condition kind staff with quick chec...,friendly staff and clean,very good,very accommodating staff,very good,perfect location in hanoi with markets sightse...,excellent the owner was very helpful and pleas...,the breakfast was great liked the juices that ...,the room was really good with really big comfy...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Is_Response,neutral,good,wonderful,neutral,wonderful,wonderful,neutral,wonderful,wonderful,neutral,...,neutral,neutral,wonderful,good,wonderful,wonderful,wonderful,neutral,neutral,good

In [119]:
df.to_csv("../data/sentimentData01.csv")